@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

#websiteBanner {
    height: 12vh;
    font-family: 'Bangers';
    font-size: 1.5rem;
    text-shadow: -2px 2px gray;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid black;
    background: linear-gradient(to left, #ae2222, #9198e5);
}